<navegacion></navegacion>

<main role="main" class="container" *ngIf="selectedArticle === null">
	<div class="row">
		<div class="col-md-12 blog-main my-4">
			<h3 class="pb-4 mb-4 font-italic border-bottom">Articulos</h3>
			
			<div class="input-group input-group-lg">
				<input type="search" name="search" id="search" class="form-control" placeholder="Buscar Articulo..">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="card-group mt-2 col-4" *ngFor="let article of articles" (click)="onArticleRowClicked(article)">
			<!-- <articulo *ngFor="let article of articles" [article]="article" (click)="onArticleRowClicked(article)"></articulo> -->
			<div class="card border-dark mb-3 mx-2 articulos">
				<div class="card-body text-dark">
					<h5 class="card-title">{{article.title}}</h5>
					<p class="card-text text-muted">{{article.description}}</p>
				</div>
			</div>
		</div>
	</div>
</main>


