<form class="form-signin">
	<div class="text-center mb-4">
		<img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
		<h1 class="h3 mb-3 font-weight-normal">Iniciar Sesión</h1>
	</div>
		
	<div class="form-label-group">
		<input [(ngModel)]="email" name="email" type="email" id="inputEmail" class="form-control" placeholder="E-mail" required autofocus>
		<label for="inputEmail">E-mail</label>
	</div>
	
	<div class="form-label-group">
		<input [(ngModel)]="password" name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
		<label for="inputPassword">Contraseña</label>
	</div>
	
	<div class="checkbox mb-3">
		<label>
			<input name="remember" type="checkbox" value="remember-me"> Remember me
		</label>
	</div>
	<button class="btn btn-lg btn-primary btn-block" (click)="iniciar()">Ingresar</button>
	<p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2019</p>
</form>